name: Deploy
on:
  push:
    branches: [deploy]
  pull_request:
    branches: [deploy]
    types: [opened, synchronize, reopened]
permissions:
  contents: read
  pull-requests: write
  deployments: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout from repo
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'yarn'
      - run: yarn
      - run: yarn build
      - run: npm install -g vercel
      - name: Deploy to Vercel Action
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
