name: Supabase CI
permissions:
  contents: read

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase --version

      - name: Start Supabase local development setup
        run: supabase db start
